.container {
    /* Khung tổng thể */
    border: 1px solid #ccc;
    font-family: sans-serif;
  }
  
  /* Thanh tiêu đề */
  .header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
  
  .title {
    margin: 0;
    font-size: 1.2rem;
  }
  
  /* Vùng chứa các dòng thông tin */
  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 0rem 0;
  }
  
  /* Mỗi dòng thông tin */
  .infoRow {
    display: flex;
    align-items: center;
  }
  
  /* Icon bên trái */
  .iconBox {
    width: 40px;
    height: 40px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-right: 1rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Thêm chút style cho icon */
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Nội dung text bên phải */
  .textBox {
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  /* Vùng bảng bên dưới */
  .tableSection {
    margin-top: 1.5rem;
  }
  .data-table {
    margin-bottom: 2rem;
    overflow: auto;
  }
  
  .data-table table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .data-table thead {
    position: sticky;
    top: 0;
    background: #fff;
  }
  
  .data-table th {
    border: 1px solid #ccc;
    padding: 8px;
    background: #f8f8f8;
    z-index: 1; /* Đảm bảo hàng tiêu đề luôn ở trên cùng */
  }
  
  .data-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }