.userActions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    position: relative;
    font-size: 18px;
    cursor: pointer;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 5px;
  }
  
  .link {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
  }